body{
  background-color: #ac9464;
  background-image: url(/static/img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
  
#container{
  background-color: white;
  height: max-content;
  max-width: 950px;
  width: 90%;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}

.logox{
  font-family: 'Bangers', cursive;
  font-size: 80px;
  text-align: center;
}

#shop .item{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
}
.shop .card{
  width: 280px;
  margin-bottom: 20px;
}

.navbar{
  background-color: #d00800 !important;
  max-width: 970px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
}
.navbar .nav-link{
  color:white;
}

.carousel-inner{
  height: 500px;
}