{% extends "base.html" %}

{% block content %}   
    
    <div id="container">
      
      

      <div class="row">
        <div class="col-sm">
          <div class="card">
            <!-- Galery -->
            <div id="carouselGalery" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
{% for imgurl in images %}
    {% if forloop.counter0 is 0 %}
                <li data-target="#carouselGalery" data-slide-to="{{forloop.counter0}}" class="active"></li>
    {% else %}
                <li data-target="#carouselGalery" data-slide-to="{{forloop.counter0}}"></li>
    {% endif %}
{% endfor %}
              </ol>

              <div class="carousel-inner">
{% if images %}
  {% for imgurl in images %}
    {% if  forloop.counter0 is 0 %}
              <div class="carousel-item active">
                <img src="/{{imgurl}}" class="d-block w-100" alt="...">
              </div>
    {% else %}
              <div class="carousel-item">
                <img src="/{{imgurl}}" class="d-block w-100" alt="...">
              </div>
    {% endif%}
  {% endfor %}
{% else %}
              <div class="carousel-item active">
                <img src="/static/img/noimg.jpeg" class="d-block w-100" alt="...">
              </div>
{% endif %}


              </div>
              
              <a class="carousel-control-prev" href="#carouselGalery" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselGalery" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">{{car.marka}} {{car.model}}</h5>
              <p class="card-text">
                <button type="button" class="btn btn-light btn-sm">{{car.marka}}</button>
                <button type="button" class="btn btn-light btn-sm">{{car.year}}</button>
                <button type="button" class="btn btn-light btn-sm">{{car.przebieg}}km</button>
                <br>
              {{car.desc|linebreaksbr}}

              </p>
              <h5 class="card-title" style="text-align: right;">
                {{car.price}}zł <div style="width: 5px; display: inline-block;"></div> <a href="/kontakt/" class="btn btn-success">Kontakt</a>
              </h5>
            </div>
          </div>
        </div>  

      </div>
      


    </div>
  
{% endblock content %}