{% extends "base.html" %}

{% block content %}
    <div id="container">
     
      <div class="row shop">
{% for obj in shop %}

        <div class="col-sm">
          <div class="card">
            {% if obj.firstimg %}
            <img src="/{{obj.firstimg}}" class="card-img-top" alt="...">
            {% else %}
            <img src="/static/img/noimg.jpeg" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{obj.car.marka}} {{obj.car.model}} </h5>
              <p class="card-text">
                <button type="button" class="btn btn-light btn-sm">{{obj.car.marka}}</button>
                <button type="button" class="btn btn-light btn-sm">{{obj.car.year}}</button>
                <button type="button" class="btn btn-light btn-sm">{{obj.car.przebieg}}km</button>
              </p>
              <h5 class="card-title" style="text-align: right;">
                {{obj.car.price}}zł <div style="width: 5px; display: inline-block;"></div> <a href="/car/?id={{obj.car.id}}" class="btn btn-success">Więcej</a>
              </h5>
            </div>
          </div>
        </div>
{% endfor %}    
        
      </div>

    </div>
{% endblock content %}