{% extends "base.html" %}

{% block content %}   
<div id="container">    
  <h1>Kontakt</h1>      
  
  <div class="row">
    <div class="col">
      <b>Nr Telefonu:</b> <a href="tel:605605605">605 605 605</a><br>
      <b>Fax:</b> (+48) 605 12 34 67<br>
      <b>Email:</b> <a href="mailto:kontakt@redcarshop.pl">kontakt@redcarshop.pl</a><br>
    </div>
    <div class="col">
      <b>Adres:</b><br>
      Biuro<br>
      ul. Samochodowa 5<br>
      83-340 Sierakowice<br>
      <a href="#">Mapa Dojazdu</a><br>
    </div>
    <div class="col">
      <b>Pon - Pt:</b> 8:00 - 17:00<br>
      <b>Sob:</b> 8:00 - 13:00<br>
    </div>
  </div>
  <br>

  <h3>Napisz do nas!</h3>

{% if request.method == "POST" %}
  {% if formsuccess %}
  <div class="alert alert-success" role="alert">
    Wiadomość wysłana! Odpowiemy tak szybko jak tylko będzie to możliwe.
  </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Pola Email i treść wiadomości są wymagane
  </div>
  {% endif %}
{% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="email" name="email" class="form-control" placeholder="Email *" aria-label="Email" aria-describedby="basic-addon1">
    </div>

    <div class="form-group input-group">
      <textarea name="message" class="form-control" placeholder="Treść *" style="height: 220px;"></textarea>
    </div>
    <div>
      Wysyłając wiadomość wyrażasz zgodę na przetwarzanie twoich danych osobowych przez XXX z siedzibą w XXX w celu kontaktu przedstawiciela Spółki i udzielenia odpowiedzi na wiadomość przesłaną za pośrednictwem formularza kontaktowego.</label>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Wyślij Wiadomość</button>
  </form>
</div>
  
{% endblock content %}