    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{navbar_home|default:""}}">
            <a class="nav-link" href="/">Strona Główna <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{navbar_onas|default:""}}">
            <a class="nav-link" href="/onas">O nas</a>
          </li>
          <li class="nav-item {{navbar_kontakt|default:""}}">
            <a class="nav-link" href="/kontakt">Kontakt</a>
          </li>

        </ul>
        
      </div>
    </nav>