{% extends "base.html" %}

{% block content %}
  <div id="container">
    <h1>O Nas</h1>
    Hurtownia motoryzacyjna Car-Zone od początku swojej działalności specjalizuje się w dystrybucji części zamiennych do samochodów japońskich i koreańskich marek. W 2009 roku, wychodząc naprzeciw potrzebom klientów, rozszerzyliśmy nasz asortyment o produkty odpowiednie dla aut europejskich – obecnie możemy poszczycić się najszerszym wyborem części do Audi, BMW czy VW we Wrocławiu.

    <br>
    <br>
    <h3>Części samochodowe</h3>
    Dysponujemy wszelkimi elementami zamiennymi do najważniejszych układów samochodu. W naszym sklepie zakupisz wyłącznie części oryginalne i zamienniki o jakości oryginału, pochodzące od marek, przygotowujących elementy na pierwszy montaż pojazdu. Oferujemy m.in. elementy zawieszenia Lemforder, sprzęgła LuK, elementy rozrządu marki Febi – i wiele innych, wysokiej jakości zamienników!
    <br>
    <br>
    <h3>Płyny i materiały eksploatacyjne</h3>
    Nasza oferta, poza elementami zamiennymi, obejmuje również wszelkie niezbędne do poprawnego działania samochodu materiały i części eksploatacyjne. Jeśli chcesz zakupić wysokiej jakości płyny, oleje i filtry samochodowe we Wrocławiu, odwiedź nasz sklep motoryzacyjny. Znajdziesz w nim produkty topowych producentów, takie jak m.in. oleje Motul, Liqui Moly czy Shell oraz filtry Mann Filter i polskiego Filtronu.
    <br>
    Dysponujemy również najszerszym wyborem akumulatorów we Wrocławiu – zakupisz u nas baterie Centry, Exide i Boscha, dostosowane do specyfiki różnorodnych pojazdów. W wyborze odpowiedniego akumulatora i wszelkich innych części eksploatacyjnych pomogą Ci nasi wykwalifikowani sprzedawcy.

  </div>
{% endblock content %}